<h2>Login</h2>
<form action="/login" method="post">
    <div>Login with Github
      <input type="submit" value="Login">
    </div>
</form>
<p>
  <a href="/auth/github">Login with Github &rarr;</a>
  <a href="/signup">Create an Account &rarr;</a>
<p>
